extends layout

block content
  .topnav
    h1 Soccer Zoom - A Place for Soccer Players to Meet

  .main
    .row
      img(src='images/Messi.jpg' alt='Lionel Messi' style='width:500px;height:700px;')
      img(src='images/Ronaldo.jpg' alt='Cristiano Ronaldo' style='width:500px;height:700px;')
    .row
      img(src='images/Salah.jpg' alt='Mohammend Salah' style='width:500px;height:700px;')
      img(src='images/Neymar.jpg' alt='Neymar' style='width:500px;height:700px;')

