extends layout

block content
  .topnav
    h1 Soccer Zoom - A Place for Soccer Players to Meet
    button#homeButton Home
    button#NButton Neymar
    button#MSButton Salah
    button#CRButton Ronaldo
    button#LMButton Messi 
    button#QuizButton Quiz
    button#TeamButton Team
    script(src='javascripts/client.js')

  .main
    img(src='images/Home.jpg' alt='Wembley' style='width:1000px;height:700px;')

