extends layout

block content
  .topnav
    h1 Soccer Zoom - A Place for Soccer Players to Meet
    button#homeButton Home
    button#NButton Neymar
    button#MSButton Salah
    button#CRButton Ronaldo
    button#LMButton Messi 
    button#QuizButton Quiz
    button#TeamButton Team
    script(src='javascripts/client.js')

  .main
    h3 Lionel Messi
    script(src='javascripts/getPlayerInfo.js')
    p Club: 
      script.
        const club = fulfillPromise(getClub, "Messi");
        club.then(document.write(club));
    p Nationality:
    p Age:
    p Games Played:
    p Goals:
    img(src='images/Messi.jpg' alt='Lionel Messi' style='width:500px;height:700px;')
    br
    p Likes:
    p Dislikes:
    button#likeButton Like
    button#dislikeButton Dislike