extends layout

block content
  .topnav
    h1 Soccer Zoom - A Place for Soccer Players to Meet
    button#homeButton Home
    button#NButton Neymar
    button#MSButton Salah
    button#CRButton Ronaldo
    button#LMButton Messi 
    button#QuizButton Quiz
    button#TeamButton Team
    script(src='javascripts/client.js')

  .main
    h3 Mohammed Salah
    p Club: 
    p Nationality:
    p Age:
    p Games Played:
    p Goals:
    img(src='images/Salah.jpg' alt='Mohammend Salah' style='width:500px;height:700px;')
    br
    p Likes:
    p Dislikes:
    button#likeButton Like
    button#dislikeButton Dislike

